
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
           
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-dashboard"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Destination/Index/" aria-expanded="false">
                    <i class="ti-car"></i><span class="nav-text">Rotalar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Comment/Index/" aria-expanded="false">
                    <i class="ti-comments"></i><span class="nav-text">Yorumlar</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/User/Index/" aria-expanded="false">
                    <i class="ti-user"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
            <li>
                <a href="/Admin/ContactUS/Index" aria-expanded="false">
                    <i class="ti-comments-smiley"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Guide/Index/" aria-expanded="false">
                    <i class="ti-credit-card"></i><span class="nav-text">Rehberlerimiz</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-star"></i><span class="nav-text">Öne Çıkanlar</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Abonelik</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Servisler</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Rota Resimleri</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Rezervasyon Durumları</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Hakkımızda Diğer</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Site Hakkında Görüşler</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Şifre İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Role/Index" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Rol İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Excel/Index/" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Excel İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/PdfReport/Index/" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">PDF İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Mail/Index/" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Mail Gönderme İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="widgets.html" aria-expanded="false">
                    <i class="ti-paint-roller"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>
