
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3>PDF İşlemleri Sayfası</h3>

<br />

<a href="/PdfReport/StaticPdfReport/" class="btn btn-info">Statik PDF Raporu</a>
<br />
<br />
<a href="/PdfReport/StaticCustomerPdfReport/" class="btn btn-secondary">Statik Pdf Misafir Raporu</a>