@using EntityLayer.Concrete
@model List<ContactUS>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="email-left-box">
					<a href="email-compose.html" class="btn btn-primary btn-block">İletişim Bar</a>
					<div class="mail-list mt-4">
						<a href="email-inbox.html" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b> <span class="badge badge-primary badge-sm float-right m-t-5">@Model.Count()</span> </a>

						<a href="#" class="list-group-item border-0 p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Sent</a>

						<a href="#" class="list-group-item border-0 p-r-0"><i class="fa fa-star-o font-18 align-middle mr-2"></i>Important <span class="badge badge-danger badge-sm float-right m-t-5">47</span> </a>

						<a href="#" class="list-group-item border-0 p-r-0"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>Draft</a>

						<a href="#" class="list-group-item border-0 p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i>Trash</a>

					</div>

				</div>
				<div class="email-right-box">

					<div class="email-list m-t-15">

						@foreach (var item in Model)
						{
							<div class="message">
								<a href="/Admin/ContactUS/ContactUSDetail/@item.ContactUSID">
									<div class="col-mail col-mail-1">
										<div class="email-checkbox">
											<input type="checkbox" id="chk2">
											<label class="toggle" for="chk2"></label>
										</div><span class="star-toggle ti-star"></span>
									</div>
									<div class="col-mail col-mail-2">
										<div class="subject">@item.Subject</div>
										<div class="date">@(((DateTime)item.ContactDate).ToString("dd MMMM yyyy"))</div>
									</div>
								</a>
							</div>
						}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

